.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* General Reset */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Arial', sans-serif;
  color: #333;
  line-height: 1.6;
  background-color: #f4f4f4;
  padding: 20px;
}

/* Header */
.App-header {
  text-align: center;
  margin-bottom: 40px;
}

.App-header h1 {
  font-size: 2.5em;
  margin-bottom: 0.5em;
}

.App-header p {
  font-size: 1.2em;
  color: #666;
}

/* Projects and Experiences Sections */
.App-projects, .App-experiences {
  margin-bottom: 40px;
}

h2 {
  font-size: 2em;
  border-bottom: 2px solid #333;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

/* Individual Project and Experience */
.project, .experience {
  background: #fff;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.project img, .experience img {
  max-width: 100%;
  height: auto;
  display: block;
  margin-bottom: 20px;
}

.project h3, .experience h3 {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.project p, .experience p {
  font-size: 1em;
  line-height: 1.4;
}

/* Responsive Design */
@media (max-width: 768px) {
  .project img, .experience img {
      width: 100%;
  }
}
